@font-face {
  font-family: 'HeroLight';
  src: url('./assets/fonts/Hero-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif, 'HeroLight';
}
