.btn {
  padding: 1px 10px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #757575;
}

.btn_dark {
  color: white;
  background-color: #2C2C2C;
}

.btn_light {
  color: black;
  background-color: #E3E3E3;
}
