.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: black;
  padding: 10px;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h4 {
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin: 5px 0 10px;
}

.icons {
  display: flex;
  gap: 10px;
}

.image_link {
  width: 20px; /* 원하는 초기 크기 */
  height: auto; /* 가로 세로 비율을 유지 */
  justify-content: space-between;
}

.horizontal-line {
  border-top: 2px solid #000; /* 두께와 색상 설정 */
  width: 100%; /* 너비 설정 */
  margin: 20px 0; /* 상하 마진 설정 */
}

.footer-subtitle {
  font-weight: bold;
}