.nav_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  background-color: white;
}

.navbar_li {
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 8px 12px;
}

.home_link {
  width: 30px; /* 원하는 초기 크기 */
  height: auto; /* 가로 세로 비율을 유지 */
}

@media (max-width: 600px) {
  .home-link { width: 50px; /* 화면 크기가 600px 이하일 때 이미지 크기 조절 */ }
}

.navbar_ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}


